@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #1a2b40;
  color: #ffffff;
  overflow-x: hidden;
}

.navbar {
  position: absolute;
  background-color: #171d25;
  height: 130px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: lightblue;
}

.steamlogo {
  margin-top: 20px;
  margin-left: 100px;
}

a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-right: 40px;
  top: -28%;
}

.active {
  color: rgb(1, 132, 255);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid rgb(1, 132, 255);
  padding-bottom: 2px;
}

.header {
  display: flex;
  position: relative;
  margin: none;
  padding: none;
  background-color: #182536;
  color: white;
  top: 16px;
  /* text-align: center; */
  /* align-content: center; */
  justify-content: center;
  height: 30px;
  gap: 50px;
}

.header h4 {
  margin: 0;
  padding: 5px;
  font-size: 16px;
  color: #c1c3c7;
}

.search_box {
  background: none;
  border: 1px solid #c1c3c7;
  border-radius: 10px;
  color: #c1c3c7;
  width: 200px;
}

.main_page {
  color: #c1c3c7;
  position: absolute;
  top: 25%;
  left: 25%;
}

.eafc26 {
  width: 65%;
  box-shadow: 25px 25px 25px 25px rgba(0, 0, 0, 0.3);
}

.main_content {
  position: absolute;
  left: 44.2%;
  top: 14.6%;
  /* border: 2px solid #c1c3c7; */
  height: 358px;
  background-color: #0A141D;
}

.main_background {
  /* border: 2px solid #C1C3C7; */
  width: 68%;
}

.grid {
  position: relative;
  top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 162px);
  grid-template-rows: repeat(2, 69px);
  gap: 10px;
  margin-top: 20px;
}

.grid img {
  width: 162px;
  height: 69px;
  object-fit: cover;
}

.main_content h3 {
  position: relative;
  top: 35px;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.main_content h4 {
  position: relative;
  top: 35px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: gray;
  width: 20%;
  border-radius: 5px;
}