@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #1a2b40;
  color: #ffffff;
}

.navbar {
  position: absolute;
  background-color: #171d25;
  height: 130px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: lightblue;
}

.steamlogo {
  margin-top: 20px;
  margin-left: 100px;
}

a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-right: 40px;
  top: -28%;
}

.active {
    color: rgb(1, 132, 255);        
    font-weight: bold;
}