@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #1a2b40;
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  position: absolute;
  background-color: #171d25;
  height: 130px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.steamlogo {
  margin-top: 20px;
  margin-left: 100px;
}

a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-right: 40px;
  top: -28%;
}

.active {
  color: rgb(1, 132, 255);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid rgb(1, 132, 255);
  padding-bottom: 2px;
}

@media (max-width: 1024px) {
  .navbar > a {
    font-size: 16px;
    margin-right: 18px;
    top: -20%;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: auto;            
    padding-bottom: 10px;
  }

  .navbar > a {
    top: 0;                  
    display: inline-block;
    margin: 10px 12px 0 12px;
    font-size: 15px;
  }
}

/* Phones */
@media (max-width: 480px) {
  .navbar > a {
    font-size: 14px;
    margin: 8px 10px 0 10px;
  }
}

.header {
  background-color: #4B692D;
  position: relative; 
  top: 130px;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text{
  position: relative;
  padding-top: 50px;
  
}

.title {
  font-weight:normal;
  font-size: 35px;
  color: white;
  font-family: Roboto;
}

.sub-title{
 color: #729E45; 
}

main{
  width: 95%;
  margin-left: 40px;
  padding: 0px;
}

.main-text{
  margin: 150px 150px 30px 150px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text h2{
    text-align:left;
    color: white;
    font-weight: lighter;
}

.all-listing-table{
  height: 300px;
  width: 950px;
  margin: 10px;
}

.listing-table {
    background: #16202d;
}


.listing-names{
    display: flex;
    background: #0f1a24; 
    margin: 7px; 

}

.first-listing{
  padding: 12px;
  font-size: 12px;
  color: #8f98a0;
  flex: 1;
}

.second-listing{
   padding: 12px;
  font-size: 12px;
  color: #8f98a0;
  width: 140px;
  text-align: center;
}

.third-listing{
  padding: 12px;
  font-size: 12px;
  color: #8f98a0;
  width: 140px;
  text-align: center;
}

.items-listings {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #2a475e;
}

.items-listings:hover {
    background: #1f2f44;
}

.image {
    width: 64px;
    height: 64px;
    background: #0f1a24;
    border: 1px solid #2a475e;
    margin-right: 12px;
} 


