@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #1a2b40;
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  position: absolute;
  background-color: #171d25;
  height: 130px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.steamlogo {
  margin-top: 20px;
  margin-left: 100px;
}

a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-right: 40px;
  top: -28%;
}

.active {
  color: rgb(1, 132, 255);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid rgb(1, 132, 255);
  padding-bottom: 2px;
}


.support {
  position: absolute;
  margin-left: 50vh;
  margin-top: 1vh;
  font-size: 3vh;


}

.help {
  color: #319fde;
  font-size: 2vh;

}

.popular {
  top: 13vh;
  position: absolute;
  font-size: 2vh;
  color: #319fde;

}

.menu {
  width: 80vh;
  margin: 40px;
  margin-left: -0.5%;
  margin-top: 6%;

}

.menu-item {

  background-color: #445468;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;

}

.menu-item:hover {
  background-color: #344f73;
}

.menu-text {
  font-size: 16px;
}

.menu-arrow {
  font-size: 16px;
}

.search-bar {
  width: 80vh;
  margin: 40px;
  margin-left: -0.5%;
  margin-top: 2%;
}

.search-input input {
  font-family: Motiva Sans, sans-serif;
  background-color: #445468;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 76vh;
  text-align: center;
}